body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: yellowgreen;
}

.App {
  width: 150%;
  margin-left: 50px;
}

table {
  background: yellow;
  padding: 10px;
  margin-bottom: 20px;

}

form {
  padding: 10px;
  width: 200px;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
}

td {
  font-weight: lighter;
}

label {
  font-weight: bold;
}

form {
  background: lightgreen
}

h3 {
  margin: 0;
}